openapi: 3.2.0
info:
  title: Penn Courses API Documentation [Accounts] User API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[Accounts] User'
  description: 'These routes allow interaction with the User object of a Penn Labs Accounts user.

    We do not document `/accounts/...` authentication routes here, as they are described

    by the Authentication section, and the

    Penn Labs Account Engine

    Notion page.'
paths:
  /accounts/me/:
    get:
      operationId: Retrieve User
      description: '(GET `/accounts/me/`)


        This view exposes the Penn Labs Accounts User object.


        User authentication required.'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    readOnly: true
                    description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                  first_name:
                    type: string
                    maxLength: 150
                  last_name:
                    type: string
                    maxLength: 150
                  profile:
                    type: object
                    properties:
                      email:
                        type:
                        - string
                        - 'null'
                        format: email
                        description: The email of the User. Defaults to null.
                        maxLength: 254
                      phone:
                        type:
                        - string
                        - 'null'
                        description: '

                          The phone number of the user. Defaults to null.

                          The phone number will be stored in the E164 format, but any form parseable by the

                          [phonenumbers library](https://pypi.org/project/phonenumbers/)

                          will be accepted and converted to E164 format automatically upon saving.

                          '
                        maxLength: 100
                      push_notifications:
                        type: boolean
                        description: '

                          Defaults to False, changed to True if the User enables mobile push notifications

                          for PCA, rather than text notifications.

                          '
                    description: The user profile object, storing collected info about the user.
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[Accounts] User'
      summary: Retrieve user
      x-summary-source: derived
    put:
      operationId: Update User
      description: '(PUT `/accounts/me/`)


        This view exposes the Penn Labs Accounts User object.


        User authentication required.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  readOnly: true
                  description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                first_name:
                  type: string
                  maxLength: 150
                last_name:
                  type: string
                  maxLength: 150
                profile:
                  type: object
                  properties:
                    email:
                      type:
                      - string
                      - 'null'
                      format: email
                      description: The email of the User. Defaults to null.
                      maxLength: 254
                    phone:
                      type:
                      - string
                      - 'null'
                      description: '

                        The phone number of the user. Defaults to null.

                        The phone number will be stored in the E164 format, but any form parseable by the

                        [phonenumbers library](https://pypi.org/project/phonenumbers/)

                        will be accepted and converted to E164 format automatically upon saving.

                        '
                      maxLength: 100
                    push_notifications:
                      type: boolean
                      description: '

                        Defaults to False, changed to True if the User enables mobile push notifications

                        for PCA, rather than text notifications.

                        '
                  description: The user profile object, storing collected info about the user.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    readOnly: true
                    description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                  first_name:
                    type: string
                    maxLength: 150
                  last_name:
                    type: string
                    maxLength: 150
                  profile:
                    type: object
                    properties:
                      email:
                        type:
                        - string
                        - 'null'
                        format: email
                        description: The email of the User. Defaults to null.
                        maxLength: 254
                      phone:
                        type:
                        - string
                        - 'null'
                        description: '

                          The phone number of the user. Defaults to null.

                          The phone number will be stored in the E164 format, but any form parseable by the

                          [phonenumbers library](https://pypi.org/project/phonenumbers/)

                          will be accepted and converted to E164 format automatically upon saving.

                          '
                        maxLength: 100
                      push_notifications:
                        type: boolean
                        description: '

                          Defaults to False, changed to True if the User enables mobile push notifications

                          for PCA, rather than text notifications.

                          '
                    description: The user profile object, storing collected info about the user.
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[Accounts] User'
      summary: Update user
      x-summary-source: derived
    patch:
      operationId: Partial Update User
      description: '(PATCH `/accounts/me/`)


        This view exposes the Penn Labs Accounts User object.


        User authentication required.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                  readOnly: true
                  description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                first_name:
                  type: string
                  maxLength: 150
                last_name:
                  type: string
                  maxLength: 150
                profile:
                  type: object
                  properties:
                    email:
                      type:
                      - string
                      - 'null'
                      format: email
                      description: The email of the User. Defaults to null.
                      maxLength: 254
                    phone:
                      type:
                      - string
                      - 'null'
                      description: '

                        The phone number of the user. Defaults to null.

                        The phone number will be stored in the E164 format, but any form parseable by the

                        [phonenumbers library](https://pypi.org/project/phonenumbers/)

                        will be accepted and converted to E164 format automatically upon saving.

                        '
                      maxLength: 100
                    push_notifications:
                      type: boolean
                      description: '

                        Defaults to False, changed to True if the User enables mobile push notifications

                        for PCA, rather than text notifications.

                        '
                  description: The user profile object, storing collected info about the user.
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    readOnly: true
                    description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                  first_name:
                    type: string
                    maxLength: 150
                  last_name:
                    type: string
                    maxLength: 150
                  profile:
                    type: object
                    properties:
                      email:
                        type:
                        - string
                        - 'null'
                        format: email
                        description: The email of the User. Defaults to null.
                        maxLength: 254
                      phone:
                        type:
                        - string
                        - 'null'
                        description: '

                          The phone number of the user. Defaults to null.

                          The phone number will be stored in the E164 format, but any form parseable by the

                          [phonenumbers library](https://pypi.org/project/phonenumbers/)

                          will be accepted and converted to E164 format automatically upon saving.

                          '
                        maxLength: 100
                      push_notifications:
                        type: boolean
                        description: '

                          Defaults to False, changed to True if the User enables mobile push notifications

                          for PCA, rather than text notifications.

                          '
                    description: The user profile object, storing collected info about the user.
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[Accounts] User'
      summary: Partial update user
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
