openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCx] Status Updates API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCx] Status Updates'
  description: ''
paths:
  /api/base/statusupdate/{full_code}/:
    get:
      operationId: List Status Updates
      description: '(GET `/api/base/statusupdate/{full_code}/`)


        Retrieve all Status Update objects from the current semester for a specific section.'
      parameters:
      - name: full_code
        in: path
        required: true
        description: The code of the section which this status update applies to, in the form '{dept code}-{course code}-{section code}', e.g. `CIS-120-001` for the 001 section of CIS-120.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  section:
                    type: string
                    readOnly: true
                    description: '

                      The code of the section which this status update applies to, in the form

                      ''{dept code}-{course code}-{section code}'', e.g. `CIS-120-001` for the

                      001 section of CIS-120.

                      '
                  old_status:
                    enum:
                    - O
                    - C
                    - X
                    - ''
                    type: string
                    readOnly: true
                    description: 'The old status code (from which the section changed). Options and meanings: <table width=100%><tr><td>"O"</td><td>"Open"</td></tr><tr><td>"C"</td><td>"Closed"</td></tr><tr><td>"X"</td><td>"Cancelled"</td></tr><tr><td>""</td><td>"Unlisted"</td></tr></table>'
                  new_status:
                    enum:
                    - O
                    - C
                    - X
                    - ''
                    type: string
                    readOnly: true
                    description: 'The new status code (to which the section changed). Options and meanings: <table width=100%><tr><td>"O"</td><td>"Open"</td></tr><tr><td>"C"</td><td>"Closed"</td></tr><tr><td>"X"</td><td>"Cancelled"</td></tr><tr><td>""</td><td>"Unlisted"</td></tr></table>'
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  alert_sent:
                    type: boolean
                    readOnly: true
                    description: Was an alert was sent to a User as a result of this status update?
          description: Status Updates for section listed successfully.
      tags:
      - '[PCx] Status Updates'
      summary: List status updates
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
