openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PDP] Docked Course API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PDP] Docked Course'
  description: ''
paths:
  /api/degree/docked:
    get:
      operationId: List Docked Courses
      description: '(GET `/api/degree/docked`)


        List, retrieve, create, destroy, and update docked courses'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    full_code:
                      type: string
                      description: The dash-joined department and code of the course, e.g., `CIS-120`
                      maxLength: 16
                    id:
                      type: string
                      readOnly: true
                      description: The id of the docked course
                    attribute_codes:
                      type: string
                      readOnly: true
          description: ''
      tags:
      - '[PDP] Docked Course'
      summary: List docked courses
      x-summary-source: derived
    post:
      operationId: Create Docked Course
      description: '(POST `/api/degree/docked`)


        List, retrieve, create, destroy, and update docked courses'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_code:
                  type: string
                  description: The dash-joined department and code of the course, e.g., `CIS-120`
                  maxLength: 16
                id:
                  type: string
                  readOnly: true
                  description: The id of the docked course
                attribute_codes:
                  type: string
                  readOnly: true
              required:
              - full_code
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  id:
                    type: string
                    readOnly: true
                    description: The id of the docked course
                  attribute_codes:
                    type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Docked Course'
      summary: Create docked course
      x-summary-source: derived
  /api/degree/docked/{full_code}:
    get:
      operationId: Retrieve Docked Course
      description: '(GET `/api/degree/docked/{full_code}`)


        List, retrieve, create, destroy, and update docked courses'
      parameters:
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  id:
                    type: string
                    readOnly: true
                    description: The id of the docked course
                  attribute_codes:
                    type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Docked Course'
      summary: Retrieve docked course
      x-summary-source: derived
    delete:
      operationId: Destroy Docked Course
      description: '(DELETE `/api/degree/docked/{full_code}`)


        List, retrieve, create, destroy, and update docked courses'
      parameters:
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - '[PDP] Docked Course'
      summary: Destroy docked course
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
