openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCx] Friendship API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCx] Friendship'
  description: ''
paths:
  /api/base/friendship/:
    get:
      operationId: List Friendships
      description: '(GET `/api/base/friendship/`)


        Get a list of all friendships and friendship requests (sent and recieved) for the

        specified user. Filter the list by status (accepted, sent) to distinguish between

        friendships and friendship requests.


        User authentication required.'
      parameters: []
      responses:
        '200':
          description: Friendships retrieved successfully.
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCx] Friendship'
      summary: List friendships
      x-summary-source: derived
    post:
      operationId: Create Friendship
      description: '(POST `/api/base/friendship/`)


        Create a friendship between two users (sender and recipient). If a previous request does

        not exist between the two friendships, then we create friendship request. If a previous request

        exists (where the recipient is the sender) and the recipient of a request hits this route, then

        we accept the request.


        User authentication required.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pennkey:
                  type: string
                  description: The Pennkey of the user you are sending a friend request to or handling a request from.
                  required: true
      responses:
        '201':
          description: Friendship request created successfully.
        '403':
          description: Access denied (missing or improper authentication).
        '200':
          description: Friendship request accepted successfully.
        '404':
          description: Username was None/ Username did not exist.
        '409':
          description: Friendship request already exists
      tags:
      - '[PCx] Friendship'
      summary: Create friendship
      x-summary-source: derived
    delete:
      operationId: Destroy Friendship
      description: '(DELETE `/api/base/friendship/`)


        Delete a friendship between two users (sender and recipient). If there exists only

        a friendship request between two users, then we either delete the friendship request

        if the sender hits the route, or we reject the request if the recipient hits this route.


        User authentication required.'
      parameters:
      - name: pennkey
        in: query
        description: The Pennkey of the user you are ending/rejecting your friendship/friend request with.
        schema:
          type: string
        required: true
      responses:
        '204':
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
        '200':
          description: Friendship rejected/deleted/cancelled successfully.
        '404':
          description: Friendship does not exist or Username does not exist.
        '409':
          description: Friendship request already rejected.
      tags:
      - '[PCx] Friendship'
      summary: Destroy friendship
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
