openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCP] Break API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCP] Break'
  description: ''
paths:
  /api/plan/breaks/:
    get:
      operationId: List Breaks
      description: '(GET `/api/plan/breaks/`)


        User authentication required.'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: The id of the schedule.
                    meetings:
                      type: string
                      readOnly: true
                      description: '

                        A list of the meetings of this section (each meeting is a continuous span of time

                        during which a section would meet).

                        '
                    location_string:
                      type:
                      - string
                      - 'null'
                      description: '

                        This represents the location that the user can input themselves.

                        Will use a building object from a drop down or have it validated

                        or something so it can interact with map.

                        Didn''t want to run into issue of users creating arbitrary

                        Room objects, so just using a char field

                        '
                      maxLength: 80
                    name:
                      type: string
                      description: '

                        The user''s name for the break. No two breaks can match in all of the fields

                        `[name, person]`

                        '
                      maxLength: 255
                    checked:
                      type: boolean
                      description: '

                        Whether or not the break has been checked by the user. This is used to

                        determine if the break should be displayed in the user''s schedule.

                        '
                    meeting_times:
                      type: string
                      description: '

                        A JSON-stringified list of meeting times of the form

                        `{days code} {start time} - {end time}`, e.g.

                        `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                        PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                        day of the work week, respectively (and multiple days are combined with concatenation).

                        To access the Meeting objects for this section, the related field `meetings` can be used.

                        '
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Break'
      summary: List breaks
      x-summary-source: derived
    post:
      operationId: Create Break
      description: '(POST `/api/plan/breaks/`)


        User authentication required.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: The id of the schedule.
                meetings:
                  type: string
                  readOnly: true
                  description: '

                    A list of the meetings of this section (each meeting is a continuous span of time

                    during which a section would meet).

                    '
                location_string:
                  type:
                  - string
                  - 'null'
                  description: '

                    This represents the location that the user can input themselves.

                    Will use a building object from a drop down or have it validated

                    or something so it can interact with map.

                    Didn''t want to run into issue of users creating arbitrary

                    Room objects, so just using a char field

                    '
                  maxLength: 80
                name:
                  type: string
                  description: '

                    The user''s name for the break. No two breaks can match in all of the fields

                    `[name, person]`

                    '
                  maxLength: 255
                checked:
                  type: boolean
                  description: '

                    Whether or not the break has been checked by the user. This is used to

                    determine if the break should be displayed in the user''s schedule.

                    '
                meeting_times:
                  type: string
                  description: '

                    A JSON-stringified list of meeting times of the form

                    `{days code} {start time} - {end time}`, e.g.

                    `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                    PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                    day of the work week, respectively (and multiple days are combined with concatenation).

                    To access the Meeting objects for this section, the related field `meetings` can be used.

                    '
              required:
              - name
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The id of the schedule.
                  meetings:
                    type: string
                    readOnly: true
                    description: '

                      A list of the meetings of this section (each meeting is a continuous span of time

                      during which a section would meet).

                      '
                  location_string:
                    type:
                    - string
                    - 'null'
                    description: '

                      This represents the location that the user can input themselves.

                      Will use a building object from a drop down or have it validated

                      or something so it can interact with map.

                      Didn''t want to run into issue of users creating arbitrary

                      Room objects, so just using a char field

                      '
                    maxLength: 80
                  name:
                    type: string
                    description: '

                      The user''s name for the break. No two breaks can match in all of the fields

                      `[name, person]`

                      '
                    maxLength: 255
                  checked:
                    type: boolean
                    description: '

                      Whether or not the break has been checked by the user. This is used to

                      determine if the break should be displayed in the user''s schedule.

                      '
                  meeting_times:
                    type: string
                    description: '

                      A JSON-stringified list of meeting times of the form

                      `{days code} {start time} - {end time}`, e.g.

                      `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                      PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                      day of the work week, respectively (and multiple days are combined with concatenation).

                      To access the Meeting objects for this section, the related field `meetings` can be used.

                      '
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Break'
      summary: Create break
      x-summary-source: derived
  /api/plan/breaks/{id}/:
    get:
      operationId: Retrieve Break
      description: '(GET `/api/plan/breaks/{id}/`)


        User authentication required.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The id of the schedule.
                  meetings:
                    type: string
                    readOnly: true
                    description: '

                      A list of the meetings of this section (each meeting is a continuous span of time

                      during which a section would meet).

                      '
                  location_string:
                    type:
                    - string
                    - 'null'
                    description: '

                      This represents the location that the user can input themselves.

                      Will use a building object from a drop down or have it validated

                      or something so it can interact with map.

                      Didn''t want to run into issue of users creating arbitrary

                      Room objects, so just using a char field

                      '
                    maxLength: 80
                  name:
                    type: string
                    description: '

                      The user''s name for the break. No two breaks can match in all of the fields

                      `[name, person]`

                      '
                    maxLength: 255
                  checked:
                    type: boolean
                    description: '

                      Whether or not the break has been checked by the user. This is used to

                      determine if the break should be displayed in the user''s schedule.

                      '
                  meeting_times:
                    type: string
                    description: '

                      A JSON-stringified list of meeting times of the form

                      `{days code} {start time} - {end time}`, e.g.

                      `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                      PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                      day of the work week, respectively (and multiple days are combined with concatenation).

                      To access the Meeting objects for this section, the related field `meetings` can be used.

                      '
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Break'
      summary: Retrieve break
      x-summary-source: derived
    put:
      operationId: Update Break
      description: '(PUT `/api/plan/breaks/{id}/`)


        User authentication required.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: The id of the schedule.
                meetings:
                  type: string
                  readOnly: true
                  description: '

                    A list of the meetings of this section (each meeting is a continuous span of time

                    during which a section would meet).

                    '
                location_string:
                  type:
                  - string
                  - 'null'
                  description: '

                    This represents the location that the user can input themselves.

                    Will use a building object from a drop down or have it validated

                    or something so it can interact with map.

                    Didn''t want to run into issue of users creating arbitrary

                    Room objects, so just using a char field

                    '
                  maxLength: 80
                name:
                  type: string
                  description: '

                    The user''s name for the break. No two breaks can match in all of the fields

                    `[name, person]`

                    '
                  maxLength: 255
                checked:
                  type: boolean
                  description: '

                    Whether or not the break has been checked by the user. This is used to

                    determine if the break should be displayed in the user''s schedule.

                    '
                meeting_times:
                  type: string
                  description: '

                    A JSON-stringified list of meeting times of the form

                    `{days code} {start time} - {end time}`, e.g.

                    `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                    PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                    day of the work week, respectively (and multiple days are combined with concatenation).

                    To access the Meeting objects for this section, the related field `meetings` can be used.

                    '
              required:
              - name
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The id of the schedule.
                  meetings:
                    type: string
                    readOnly: true
                    description: '

                      A list of the meetings of this section (each meeting is a continuous span of time

                      during which a section would meet).

                      '
                  location_string:
                    type:
                    - string
                    - 'null'
                    description: '

                      This represents the location that the user can input themselves.

                      Will use a building object from a drop down or have it validated

                      or something so it can interact with map.

                      Didn''t want to run into issue of users creating arbitrary

                      Room objects, so just using a char field

                      '
                    maxLength: 80
                  name:
                    type: string
                    description: '

                      The user''s name for the break. No two breaks can match in all of the fields

                      `[name, person]`

                      '
                    maxLength: 255
                  checked:
                    type: boolean
                    description: '

                      Whether or not the break has been checked by the user. This is used to

                      determine if the break should be displayed in the user''s schedule.

                      '
                  meeting_times:
                    type: string
                    description: '

                      A JSON-stringified list of meeting times of the form

                      `{days code} {start time} - {end time}`, e.g.

                      `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                      PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                      day of the work week, respectively (and multiple days are combined with concatenation).

                      To access the Meeting objects for this section, the related field `meetings` can be used.

                      '
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Break'
      summary: Update break
      x-summary-source: derived
    patch:
      operationId: Partial Update Break
      description: '(PATCH `/api/plan/breaks/{id}/`)


        User authentication required.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  description: The id of the schedule.
                meetings:
                  type: string
                  readOnly: true
                  description: '

                    A list of the meetings of this section (each meeting is a continuous span of time

                    during which a section would meet).

                    '
                location_string:
                  type:
                  - string
                  - 'null'
                  description: '

                    This represents the location that the user can input themselves.

                    Will use a building object from a drop down or have it validated

                    or something so it can interact with map.

                    Didn''t want to run into issue of users creating arbitrary

                    Room objects, so just using a char field

                    '
                  maxLength: 80
                name:
                  type: string
                  description: '

                    The user''s name for the break. No two breaks can match in all of the fields

                    `[name, person]`

                    '
                  maxLength: 255
                checked:
                  type: boolean
                  description: '

                    Whether or not the break has been checked by the user. This is used to

                    determine if the break should be displayed in the user''s schedule.

                    '
                meeting_times:
                  type: string
                  description: '

                    A JSON-stringified list of meeting times of the form

                    `{days code} {start time} - {end time}`, e.g.

                    `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                    PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                    day of the work week, respectively (and multiple days are combined with concatenation).

                    To access the Meeting objects for this section, the related field `meetings` can be used.

                    '
              required:
              - name
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: The id of the schedule.
                  meetings:
                    type: string
                    readOnly: true
                    description: '

                      A list of the meetings of this section (each meeting is a continuous span of time

                      during which a section would meet).

                      '
                  location_string:
                    type:
                    - string
                    - 'null'
                    description: '

                      This represents the location that the user can input themselves.

                      Will use a building object from a drop down or have it validated

                      or something so it can interact with map.

                      Didn''t want to run into issue of users creating arbitrary

                      Room objects, so just using a char field

                      '
                    maxLength: 80
                  name:
                    type: string
                    description: '

                      The user''s name for the break. No two breaks can match in all of the fields

                      `[name, person]`

                      '
                    maxLength: 255
                  checked:
                    type: boolean
                    description: '

                      Whether or not the break has been checked by the user. This is used to

                      determine if the break should be displayed in the user''s schedule.

                      '
                  meeting_times:
                    type: string
                    description: '

                      A JSON-stringified list of meeting times of the form

                      `{days code} {start time} - {end time}`, e.g.

                      `["MWF 09:00 AM - 10:00 AM","F 11:00 AM - 12:00 PM","T 05:00 PM - 06:00 PM"]` for

                      PHYS-151-001 (2020A). Each letter of the days code is of the form M, T, W, R, F for each

                      day of the work week, respectively (and multiple days are combined with concatenation).

                      To access the Meeting objects for this section, the related field `meetings` can be used.

                      '
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Break'
      summary: Partial update break
      x-summary-source: derived
    delete:
      operationId: Destroy Break
      description: '(DELETE `/api/plan/breaks/{id}/`)


        User authentication required.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Break'
      summary: Destroy break
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
