openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCR] Section-Specific…
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCR] Section-Specific Reviews'
  description: ''
paths:
  /api/review/course/{course_code}/{instructor_id}:
    get:
      operationId: Retrieve Section-Specific Reviews
      description: '(GET `/api/review/course/{course_code}/{instructor_id}`)


        Get the review history of an instructor teaching a course.


        User authentication required.'
      parameters:
      - name: course_code
        in: path
        required: true
        description: The dash-joined department and code of the course you want reviews for, e.g. `CIS-120` for CIS-120.
        schema:
          type: string
      - name: instructor_id
        in: path
        required: true
        description: The integer id of the instructor you want reviews for.
        schema:
          type: string
      - name: semester
        in: query
        description: Optionally specify the semester of the desired course (defaults to most recent course with the specified course code).
        schema:
          type: string
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  instructor:
                    type: object
                    description: Information about the instructor.
                    properties:
                      id:
                        type: integer
                        description: The integer id of the instructor.
                      name:
                        type: string
                        description: The full name of the instructor.
                  course_code:
                    type: string
                    description: The dash-joined department and most-recent (across all codes representing the topic) code of the course, e.g. `CIS-120` for CIS-120.
                  sections:
                    type: array
                    description: The sections of this course taught by this instructor.
                    items:
                      type: object
                      properties:
                        course_code:
                          type: string
                          description: The dash-joined department and course code of the section, `CIS-120` for CIS-120-001.
                        course_name:
                          type: string
                          description: The title of the section's course, e.g. 'Programming Languages and Techniques I' for CIS-120-001.
                        activity:
                          type: string
                          description: 'The activity of the section. Options: `[''Undefined'', ''Clinic'', ''Clinical Rotation'', ''Dissertation Abroad'', ''Dissertation'', ''Doctoral Program Exchange'', ''Field Work'', ''Hybrid'', ''Independent Study'', ''Lab'', ''Lecture'', ''Masters Thesis'', ''Online'', ''Practicum'', ''Recitation'', ''Seminar'', ''Senior Thesis'', ''Studio'', None]`'
                        semester:
                          type: string
                          description: The semester this section was taught (of the form YYYYx where x is A [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019.
                        forms_returned:
                          type: integer
                          description: The number of review responses collected for this section (or null if this section does not have review data).
                        forms_produced:
                          type: integer
                          description: The final enrollment of this section (or null if this section does not have review data).
                        ratings:
                          type: object
                          description: The reviews for this section.
                          properties:
                            rSemesterCalc:
                              type: string
                              description: The oldest semester included in these review aggregations (of the form YYYYx where x is A [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019. This field will not be missing.
                            rSemesterCount:
                              type: integer
                              description: The number of semesters included in these review aggregations. This field will not be missing.
                            rInstructorQuality:
                              type: number
                              description: Average Instructor Quality
                            rCourseQuality:
                              type: number
                              description: Average Course Quality
                            rCommunicationAbility:
                              type: number
                              description: Average Comm. Ability
                            rStimulateInterest:
                              type: number
                              description: Average Stimulate Ability
                            rInstructorAccess:
                              type: number
                              description: Average Instructor Access
                            rDifficulty:
                              type: number
                              description: Average Difficulty
                            rWorkRequired:
                              type: number
                              description: Average Work Required
                            rTaQuality:
                              type: number
                              description: Average TA Quality
                            rReadingsValue:
                              type: number
                              description: Average Readings Value
                            rAmountLearned:
                              type: number
                              description: Average Amount Learned
                            rRecommendMajor:
                              type: number
                              description: Average Recommend Major
                            rRecommendNonmajor:
                              type: number
                              description: Average Recommend Non-Major
                            rAbilitiesChallenged:
                              type: number
                              description: Average Abilities Challenged
                            rClassPace:
                              type: number
                              description: Average Class Pace
                            rInstructorEffective:
                              type: number
                              description: Average Instructor Effectiveness
                            rNativeAbility:
                              type: number
                              description: Average Native Ability
                            rFinalEnrollment:
                              type: number
                              description: Average Final Enrollment at the End of the Semester
                            rPercentOpen:
                              type: number
                              description: Average Percent of Add/Drop Period Open
                            rNumOpenings:
                              type: number
                              description: Average Number of Openings During Add/Drop
                            rFilledInAdvReg:
                              type: number
                              description: Average Percent of Sections Completely Filled During Advance Registration
                        comments:
                          type: string
                          description: A textual description of the section, as well as common sentiment about it from reviews.
          description: Reviews retrieved successfully.
        '403':
          description: Access denied (missing or improper authentication).
        '404':
          description: Invalid course_code or instructor_id.
      tags:
      - '[PCR] Section-Specific Reviews'
      summary: Retrieve section specific reviews
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
