openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCP] Primary Schedule API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCP] Primary Schedule'
  description: ''
paths:
  /api/plan/primary-schedules/:
    get:
      operationId: List Primary Schedules
      description: '(GET `/api/plan/primary-schedules/`)


        Get the primary schedule for the current user as well as primary

        schedules of the user''s friends.


        User authentication required.'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user:
                      type: object
                      properties:
                        username:
                          type: string
                          readOnly: true
                          description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                        first_name:
                          type: string
                          maxLength: 150
                        last_name:
                          type: string
                          maxLength: 150
                      readOnly: true
                      description: The user to which the primary schedule belongs.
                    schedule:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: The id of the schedule.
                        sections:
                          type: array
                          items: []
                          description: The sections in the schedule.
                        breaks:
                          type: array
                          items: []
                          description: The breaks in the schedule.
                        semester:
                          type: string
                          description: '

                            The academic semester planned out by the schedule (of the form YYYYx where x is A

                            [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019.

                            '
                          maxLength: 5
                        name:
                          type: string
                          description: '

                            The user''s nick-name for the schedule. No two schedules can match in all of the fields

                            `[name, semester, person]`

                            '
                          maxLength: 255
                        created_at:
                          type: string
                          format: date-time
                          readOnly: true
                        updated_at:
                          type: string
                          format: date-time
                          readOnly: true
                      readOnly: true
                      description: The primary schedule.
          description: Primary schedule (and friend's schedules) retrieved successfully.
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Primary Schedule'
      summary: List primary schedules
      x-summary-source: derived
    post:
      operationId: Create Primary Schedule
      description: '(POST `/api/plan/primary-schedules/`)


        Create/update/delete the primary schedule for the current user.


        User authentication required.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                schedule_id:
                  type: integer
                  description: The ID of the schedule you want to make primary (or null to unset).
      responses:
        '201':
          description: Primary schedule updated successfully.
        '403':
          description: Access denied (missing or improper authentication).
        '400':
          description: Invalid schedule in request.
      tags:
      - '[PCP] Primary Schedule'
      summary: Create primary schedule
      x-summary-source: derived
  /api/plan/primary-schedules/{id}/:
    get:
      operationId: Retrieve Primary Schedule
      description: '(GET `/api/plan/primary-schedules/{id}/`)


        User authentication required.'
      parameters:
      - name: id
        in: path
        required: true
        description: A unique integer value identifying this primary schedule.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      username:
                        type: string
                        readOnly: true
                        description: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                      first_name:
                        type: string
                        maxLength: 150
                      last_name:
                        type: string
                        maxLength: 150
                    readOnly: true
                    description: The user to which the primary schedule belongs.
                  schedule:
                    type: object
                    properties:
                      id:
                        type: integer
                        description: The id of the schedule.
                      sections:
                        type: array
                        items: []
                        description: The sections in the schedule.
                      breaks:
                        type: array
                        items: []
                        description: The breaks in the schedule.
                      semester:
                        type: string
                        description: '

                          The academic semester planned out by the schedule (of the form YYYYx where x is A

                          [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019.

                          '
                        maxLength: 5
                      name:
                        type: string
                        description: '

                          The user''s nick-name for the schedule. No two schedules can match in all of the fields

                          `[name, semester, person]`

                          '
                        maxLength: 255
                      created_at:
                        type: string
                        format: date-time
                        readOnly: true
                      updated_at:
                        type: string
                        format: date-time
                        readOnly: true
                    readOnly: true
                    description: The primary schedule.
          description: ''
        '403':
          description: Access denied (missing or improper authentication).
      tags:
      - '[PCP] Primary Schedule'
      summary: Retrieve primary schedule
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
