openapi: 3.0.2
info:
  title: Penn Courses API Documentation [Accounts] User [Accounts] User [PCR] Section-Specific Reviews API
  version: "1.0"
  description: '

    # Introduction

    Penn Courses ([GitHub](https://github.com/pennlabs/penn-courses)) is the umbrella

    categorization for [Penn Labs](https://pennlabs.org/)

    products designed to help students navigate the course registration process. It currently

    includes three products, each with their own API documented on this page:

    Penn Course Alert, Penn Course Plan, and Penn Course Review.


    See `Penn Labs Notion > Penn Courses` for more details on each of our (currently) three apps.


    For instructions on how to maintain this documentation while writing code,

    see the comments in `backend/PennCourses/docs_settings.py` (it is easy, and will be helpful

    for maintaining Labs knowledge in spite of our high member turnover rate).


    See our [GitHub](https://github.com/pennlabs/penn-courses) repo for instructions on

    installation, running in development, and loading in course data for development. Visit

    the `/admin/doc/` route ([link](/admin/doc/)) for the backend documentation generated by Django

    (admin account required, which can be made by running

    `python manage.py createsuperuser` in terminal/CLI).


    # Unified Penn Courses

    By virtue of the fact that all Penn Courses products deal with, well, courses,

    it would make sense for all three products to share the same backend.


    We realized the necessity of a unified backend when attempting to design a new Django backend

    for Penn Course Plan. We like to live by the philosophy of keeping it

    [DRY](https://en.wikipedia.org/wiki/Don''t_repeat_yourself), and

    PCA and PCP''s data models both need to reference course and

    section information. We could have simply copied over code (a bad idea)

    or created a shared reusable Django app (a better idea) for course data,

    but each app would still need to download copies of the same data.

    Additionally, this will help us build integrations between our Courses products.


    # Authentication

    PCx user authentication is handled by platform''s Penn Labs Accounts Engine.

    See [Penn Labs Notion > Platform > The Accounts Engine](https://www.notion.so/pennlabs/The-Accounts-Engine-726ccf8875e244f4b8dbf8a8f2c97a87?pvs=4)

    for extensive documentation and links to repositories for this system. When tags or routes

    are described as requiring user authentication, they are referring to this system.


    I highly recommend the [official video course on OAuth2](https://oauth.net/2/) (by Aaron Parecki),

    then the Platform Notion docs on the "Accounts Engine" for anyone who wants to understand

    Labs authentication better. Platform is our OAuth2 "Authorization Server",

    and Django Labs Accounts is an OAuth2 client run by our Django backends (Clubs, Penn Courses, etc),

    exposing client-facing authentication routes like `penncourseplan.com/accounts/login`.

    There''s also this Wikipedia page explaining [Shibboleth](https://en.wikipedia.org/wiki/Shibboleth_(software))

    (which is used by Penn for authentication, and by the Platform authorization server).


    See the Django docs for more on Django''s features for

    [User Authentication](https://docs.djangoproject.com/en/3.0/topics/auth/),

    which are used by PCX apps, as part of Platform''s accounts system.

    '
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCR] Section-Specific Reviews'
  description: ''
paths:
  /api/review/course/{course_code}/{instructor_id}:
    get:
      operationId: Retrieve Section-Specific Reviews
      description: '(GET `/api/review/course/{course_code}/{instructor_id}`)


        Get the review history of an instructor teaching a course.


        <span style="color:red;">User authentication required</span>.'
      parameters:
      - name: course_code
        in: path
        required: true
        description: The dash-joined department and code of the course you want reviews for, e.g. `CIS-120` for CIS-120.
        schema:
          type: string
      - name: instructor_id
        in: path
        required: true
        description: The integer id of the instructor you want reviews for.
        schema:
          type: string
      - name: semester
        in: query
        description: Optionally specify the semester of the desired course (defaults to most recent course with the specified course code).
        schema:
          type: string
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  instructor:
                    type: object
                    description: Information about the instructor.
                    properties:
                      id:
                        type: integer
                        description: The integer id of the instructor.
                      name:
                        type: string
                        description: The full name of the instructor.
                  course_code:
                    type: string
                    description: The dash-joined department and most-recent (across all codes representing the topic) code of the course, e.g. `CIS-120` for CIS-120.
                  sections:
                    type: array
                    description: The sections of this course taught by this instructor.
                    items:
                      type: object
                      properties:
                        course_code:
                          type: string
                          description: The dash-joined department and course code of the section, `CIS-120` for CIS-120-001.
                        course_name:
                          type: string
                          description: The title of the section's course, e.g. 'Programming Languages and Techniques I' for CIS-120-001.
                        activity:
                          type: string
                          description: 'The activity of the section. Options: `[''Undefined'', ''Clinic'', ''Clinical Rotation'', ''Dissertation Abroad'', ''Dissertation'', ''Doctoral Program Exchange'', ''Field Work'', ''Hybrid'', ''Independent Study'', ''Lab'', ''Lecture'', ''Masters Thesis'', ''Online'', ''Practicum'', ''Recitation'', ''Seminar'', ''Senior Thesis'', ''Studio'', None]`'
                        semester:
                          type: string
                          description: The semester this section was taught (of the form YYYYx where x is A [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019.
                        forms_returned:
                          type: integer
                          description: The number of review responses collected for this section (or null if this section does not have review data).
                        forms_produced:
                          type: integer
                          description: The final enrollment of this section (or null if this section does not have review data).
                        ratings:
                          type: object
                          description: The reviews for this section.
                          properties:
                            rSemesterCalc:
                              type: string
                              description: The oldest semester included in these review aggregations (of the form YYYYx where x is A [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019. This field will not be missing.
                            rSemesterCount:
                              type: integer
                              description: The number of semesters included in these review aggregations. This field will not be missing.
                            rInstructorQuality:
                              type: number
                              description: Average Instructor Quality
                            rCourseQuality:
                              type: number
                              description: Average Course Quality
                            rCommunicationAbility:
                              type: number
                              description: Average Comm. Ability
                            rStimulateInterest:
                              type: number
                              description: Average Stimulate Ability
                            rInstructorAccess:
                              type: number
                              description: Average Instructor Access
                            rDifficulty:
                              type: number
                              description: Average Difficulty
                            rWorkRequired:
                              type: number
                              description: Average Work Required
                            rTaQuality:
                              type: number
                              description: Average TA Quality
                            rReadingsValue:
                              type: number
                              description: Average Readings Value
                            rAmountLearned:
                              type: number
                              description: Average Amount Learned
                            rRecommendMajor:
                              type: number
                              description: Average Recommend Major
                            rRecommendNonmajor:
                              type: number
                              description: Average Recommend Non-Major
                            rAbilitiesChallenged:
                              type: number
                              description: Average Abilities Challenged
                            rClassPace:
                              type: number
                              description: Average Class Pace
                            rInstructorEffective:
                              type: number
                              description: Average Instructor Effectiveness
                            rNativeAbility:
                              type: number
                              description: Average Native Ability
                            rFinalEnrollment:
                              type: number
                              description: Average Final Enrollment at the End of the Semester
                            rPercentOpen:
                              type: number
                              description: Average Percent of Add/Drop Period Open
                            rNumOpenings:
                              type: number
                              description: Average Number of Openings During Add/Drop
                            rFilledInAdvReg:
                              type: number
                              description: Average Percent of Sections Completely Filled During Advance Registration
                        comments:
                          type: string
                          description: A textual description of the section, as well as common sentiment about it from reviews.
          description: Reviews retrieved successfully.
        '403':
          description: Access denied (missing or improper authentication).
        '404':
          description: Invalid course_code or instructor_id.
      tags:
      - '[PCR] Section-Specific Reviews'
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
