openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCP] Calendar API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCP] Calendar'
  description: ''
paths:
  /api/plan/{schedule_pk}/calendar/:
    get:
      operationId: Get Calendar
      description: '(GET `/api/plan/{schedule_pk}/calendar/`)


        Return a .ics file of the user''s selected schedule'
      parameters:
      - name: schedule_pk
        in: path
        required: true
        description: The PCP id of the schedule you want to export.
        schema:
          type: string
      responses:
        '200':
          description: Schedule exported successfully
          content: {}
      tags:
      - '[PCP] Calendar'
      summary: Get calendar
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
