openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCx] NGSS Restrictions API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCx] NGSS Restrictions'
  description: ''
paths:
  /api/base/restrictions/:
    get:
      operationId: List Ngss Restrictions
      description: '(GET `/api/base/restrictions/`)


        Retrieve a list of unique restrictions (introduced post-NGSS)'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      readOnly: true
                      description: '

                        The code of the restriction.

                        '
                    restriction_type:
                      type: string
                      readOnly: true
                      description: '

                        What the restriction is based on (e.g., Campus).

                        '
                    inclusive:
                      type: boolean
                      readOnly: true
                      description: '

                        Whether this is an include or exclude restriction. Corresponds to the `incl_excl_ind`

                        response field. `True` if include (ie, `incl_excl_ind` is "I") and `False`

                        if exclude ("E").

                        '
                    description:
                      type: string
                      readOnly: true
                      description: '

                        The registration restriction description.

                        '
          description: Restrictions listed successfully.
      tags:
      - '[PCx] NGSS Restrictions'
      summary: List ngss restrictions
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
