openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PDP] Degree Plan Detail API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PDP] Degree Plan Detail'
  description: ''
paths:
  /api/degree/degreeplans:
    post:
      operationId: Create Degree Plan Detail
      description: '(POST `/api/degree/degreeplans`)


        List, retrieve, create, destroy, and update a DegreePlan.'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                name:
                  type: string
                  description: The user's nickname for the degree plan.
                  maxLength: 255
                degrees:
                  type: array
                  items: []
                  description: The degrees belonging to this degree plan
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                updated_at:
                  type: string
                  format: date-time
                  readOnly: true
              required:
              - name
              - degrees
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    description: The user's nickname for the degree plan.
                    maxLength: 255
                  degrees:
                    type: array
                    items: []
                    description: The degrees belonging to this degree plan
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  updated_at:
                    type: string
                    format: date-time
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Create degree plan detail
      x-summary-source: derived
  /api/degree/degreeplans/{id}:
    get:
      operationId: Retrieve Degree Plan Detail
      description: '(GET `/api/degree/degreeplans/{id}`)


        List, retrieve, create, destroy, and update a DegreePlan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    description: The user's nickname for the degree plan.
                    maxLength: 255
                  degrees:
                    type: array
                    items: []
                    description: The degrees belonging to this degree plan
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  updated_at:
                    type: string
                    format: date-time
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Retrieve degree plan detail
      x-summary-source: derived
    put:
      operationId: Update Degree Plan Detail
      description: '(PUT `/api/degree/degreeplans/{id}`)


        List, retrieve, create, destroy, and update a DegreePlan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                name:
                  type: string
                  description: The user's nickname for the degree plan.
                  maxLength: 255
                degrees:
                  type: array
                  items: []
                  description: The degrees belonging to this degree plan
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                updated_at:
                  type: string
                  format: date-time
                  readOnly: true
              required:
              - name
              - degrees
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    description: The user's nickname for the degree plan.
                    maxLength: 255
                  degrees:
                    type: array
                    items: []
                    description: The degrees belonging to this degree plan
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  updated_at:
                    type: string
                    format: date-time
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Update degree plan detail
      x-summary-source: derived
    patch:
      operationId: Partial Update Degree Plan Detail
      description: '(PATCH `/api/degree/degreeplans/{id}`)


        List, retrieve, create, destroy, and update a DegreePlan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                name:
                  type: string
                  description: The user's nickname for the degree plan.
                  maxLength: 255
                degrees:
                  type: array
                  items: []
                  description: The degrees belonging to this degree plan
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                updated_at:
                  type: string
                  format: date-time
                  readOnly: true
              required:
              - name
              - degrees
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    description: The user's nickname for the degree plan.
                    maxLength: 255
                  degrees:
                    type: array
                    items: []
                    description: The degrees belonging to this degree plan
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  updated_at:
                    type: string
                    format: date-time
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Partial update degree plan detail
      x-summary-source: derived
    delete:
      operationId: Destroy Degree Plan Detail
      description: '(DELETE `/api/degree/degreeplans/{id}`)


        List, retrieve, create, destroy, and update a DegreePlan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Destroy degree plan detail
      x-summary-source: derived
  /api/degree/degreeplans/{id}/copy:
    post:
      operationId: Copy Degree Plan Detail
      description: '(POST `/api/degree/degreeplans/{id}/copy`)


        Copy a degree plan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                name:
                  type: string
                  description: The user's nickname for the degree plan.
                  maxLength: 255
                degrees:
                  type: array
                  items: []
                  description: The degrees belonging to this degree plan
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                updated_at:
                  type: string
                  format: date-time
                  readOnly: true
              required:
              - name
              - degrees
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    description: The user's nickname for the degree plan.
                    maxLength: 255
                  degrees:
                    type: array
                    items: []
                    description: The degrees belonging to this degree plan
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  updated_at:
                    type: string
                    format: date-time
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Copy degree plan detail
      x-summary-source: derived
  /api/degree/degreeplans/{id}/degrees:
    post:
      operationId: Degrees Degree Plan Detail
      description: '(POST `/api/degree/degreeplans/{id}/degrees`)


        Add or remove degrees from a degree plan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                name:
                  type: string
                  description: The user's nickname for the degree plan.
                  maxLength: 255
                degrees:
                  type: array
                  items: []
                  description: The degrees belonging to this degree plan
                created_at:
                  type: string
                  format: date-time
                  readOnly: true
                updated_at:
                  type: string
                  format: date-time
                  readOnly: true
              required:
              - name
              - degrees
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    description: The user's nickname for the degree plan.
                    maxLength: 255
                  degrees:
                    type: array
                    items: []
                    description: The degrees belonging to this degree plan
                  created_at:
                    type: string
                    format: date-time
                    readOnly: true
                  updated_at:
                    type: string
                    format: date-time
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Degrees degree plan detail
      x-summary-source: derived
    delete:
      operationId: Degrees Degree Plan Detail
      description: '(DELETE `/api/degree/degreeplans/{id}/degrees`)


        Add or remove degrees from a degree plan.'
      parameters:
      - name: id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - '[PDP] Degree Plan Detail'
      summary: Degrees degree plan detail
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
