openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PDP] Satisfied Rule Lists…
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PDP] Satisfied Rule Lists'
  description: ''
paths:
  /api/degree/satisfied-rule-list/{degree_plan_id}/{full_code}/{rule_id}:
    get:
      operationId: Retrieve Satisfied Rule List
      description: '(GET `/api/degree/satisfied-rule-list/{degree_plan_id}/{full_code}/{rule_id}`)


        Provided a degree plan and a course code, retrieve a sublist

        of the degrees'' rules that are satisfied by the course.'
      parameters:
      - name: degree_plan_id
        in: path
        required: true
        description: The ID of the degree plan to query
        schema:
          type: string
      - name: full_code
        in: path
        required: true
        description: "The full course code (e.g., 'CIS-1200')\n                                    to check against requirements"
        schema:
          type: string
      - name: rule_id
        in: path
        required: true
        description: "The ID of a specific rule to check, or '-1'\n                                to automatically determine the highest priority rule"
        schema:
          type: string
      responses:
        '200':
          description: "Returns a list of degree requirements satisfied by the course,\n                    including selected rules, newly selected rules, unselected rules that could\n                    be satisfied, and whether the selections can be legally double counted."
      tags:
      - '[PDP] Satisfied Rule Lists'
      summary: Retrieve satisfied rule list
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
