openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCx] Pre-NGSS Requirements…
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCx] Pre-NGSS Requirements'
  description: ''
paths:
  /api/base/{semester}/pre-ngss-requirements/:
    get:
      operationId: List Pre-Ngss Requirements
      description: '(GET `/api/base/{semester}/pre-ngss-requirements/`)


        Retrieve a list of all pre-NGSS (deprecated since 2022B) academic requirements

        in the database for this semester.'
      parameters:
      - name: semester
        in: path
        required: true
        description: The semester of the requirement (of the form YYYYx where x is A [for spring], B [summer], or C [fall]), e.g. `2019C` for fall 2019. We organize requirements by semester so that we don't get huge related sets which don't give particularly good info.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      readOnly: true
                      description: A string representation of the requirement, in the form '{code}@{school}'
                    code:
                      type: string
                      readOnly: true
                      description: '

                        The code identifying this requirement, e.g. `MFR` for ''Formal Reasoning Course'',

                        an SAS requirement satisfied by CIS-120.

                        '
                    school:
                      enum:
                      - SEAS
                      - WH
                      - SAS
                      type: string
                      readOnly: true
                      description: '

                        What school this requirement belongs to, e.g. `SAS` for the SAS ''Formal Reasoning Course''

                        requirement satisfied by CIS-120. Options and meanings:

                        <table width=100%><tr><td>"SEAS"</td><td>"Engineering"</td></tr><tr><td>"WH"</td><td>"Wharton"</td></tr><tr><td>"SAS"</td><td>"College"</td></tr></table>'
                    semester:
                      type: string
                      readOnly: true
                      description: '

                        The semester of the requirement (of the form YYYYx where x is A [for spring], B [summer],

                        or C [fall]), e.g. `2019C` for fall 2019. We organize requirements by semester so that we

                        don''t get huge related sets which don''t give particularly good info.

                        '
                    name:
                      type: string
                      readOnly: true
                      description: '

                        The name of the requirement, e.g. ''Formal Reasoning Course'', an SAS requirement

                        satisfied by CIS-120.

                        '
          description: Requirements listed successfully.
      tags:
      - '[PCx] Pre-NGSS Requirements'
      summary: List pre ngss requirements
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
