openapi: 3.0.2
info:
  title: Penn Courses API Documentation [Accounts] User [Accounts] User [PDP] Docked Course API
  version: "1.0"
  description: '

    # Introduction

    Penn Courses ([GitHub](https://github.com/pennlabs/penn-courses)) is the umbrella

    categorization for [Penn Labs](https://pennlabs.org/)

    products designed to help students navigate the course registration process. It currently

    includes three products, each with their own API documented on this page:

    Penn Course Alert, Penn Course Plan, and Penn Course Review.


    See `Penn Labs Notion > Penn Courses` for more details on each of our (currently) three apps.


    For instructions on how to maintain this documentation while writing code,

    see the comments in `backend/PennCourses/docs_settings.py` (it is easy, and will be helpful

    for maintaining Labs knowledge in spite of our high member turnover rate).


    See our [GitHub](https://github.com/pennlabs/penn-courses) repo for instructions on

    installation, running in development, and loading in course data for development. Visit

    the `/admin/doc/` route ([link](/admin/doc/)) for the backend documentation generated by Django

    (admin account required, which can be made by running

    `python manage.py createsuperuser` in terminal/CLI).


    # Unified Penn Courses

    By virtue of the fact that all Penn Courses products deal with, well, courses,

    it would make sense for all three products to share the same backend.


    We realized the necessity of a unified backend when attempting to design a new Django backend

    for Penn Course Plan. We like to live by the philosophy of keeping it

    [DRY](https://en.wikipedia.org/wiki/Don''t_repeat_yourself), and

    PCA and PCP''s data models both need to reference course and

    section information. We could have simply copied over code (a bad idea)

    or created a shared reusable Django app (a better idea) for course data,

    but each app would still need to download copies of the same data.

    Additionally, this will help us build integrations between our Courses products.


    # Authentication

    PCx user authentication is handled by platform''s Penn Labs Accounts Engine.

    See [Penn Labs Notion > Platform > The Accounts Engine](https://www.notion.so/pennlabs/The-Accounts-Engine-726ccf8875e244f4b8dbf8a8f2c97a87?pvs=4)

    for extensive documentation and links to repositories for this system. When tags or routes

    are described as requiring user authentication, they are referring to this system.


    I highly recommend the [official video course on OAuth2](https://oauth.net/2/) (by Aaron Parecki),

    then the Platform Notion docs on the "Accounts Engine" for anyone who wants to understand

    Labs authentication better. Platform is our OAuth2 "Authorization Server",

    and Django Labs Accounts is an OAuth2 client run by our Django backends (Clubs, Penn Courses, etc),

    exposing client-facing authentication routes like `penncourseplan.com/accounts/login`.

    There''s also this Wikipedia page explaining [Shibboleth](https://en.wikipedia.org/wiki/Shibboleth_(software))

    (which is used by Penn for authentication, and by the Platform authorization server).


    See the Django docs for more on Django''s features for

    [User Authentication](https://docs.djangoproject.com/en/3.0/topics/auth/),

    which are used by PCX apps, as part of Platform''s accounts system.

    '
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PDP] Docked Course'
  description: ''
paths:
  /api/degree/docked:
    get:
      operationId: List Docked Courses
      description: '(GET `/api/degree/docked`)


        List, retrieve, create, destroy, and update docked courses'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    full_code:
                      type: string
                      description: The dash-joined department and code of the course, e.g., `CIS-120`
                      maxLength: 16
                    id:
                      type: string
                      readOnly: true
                      description: The id of the docked course
                    attribute_codes:
                      type: string
                      readOnly: true
          description: ''
      tags:
      - '[PDP] Docked Course'
    post:
      operationId: Create Docked Course
      description: '(POST `/api/degree/docked`)


        List, retrieve, create, destroy, and update docked courses'
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                full_code:
                  type: string
                  description: The dash-joined department and code of the course, e.g., `CIS-120`
                  maxLength: 16
                id:
                  type: string
                  readOnly: true
                  description: The id of the docked course
                attribute_codes:
                  type: string
                  readOnly: true
              required:
              - full_code
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  id:
                    type: string
                    readOnly: true
                    description: The id of the docked course
                  attribute_codes:
                    type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Docked Course'
  /api/degree/docked/{full_code}:
    get:
      operationId: Retrieve Docked Course
      description: '(GET `/api/degree/docked/{full_code}`)


        List, retrieve, create, destroy, and update docked courses'
      parameters:
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  id:
                    type: string
                    readOnly: true
                    description: The id of the docked course
                  attribute_codes:
                    type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Docked Course'
    delete:
      operationId: Destroy Docked Course
      description: '(DELETE `/api/degree/docked/{full_code}`)


        List, retrieve, create, destroy, and update docked courses'
      parameters:
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - '[PDP] Docked Course'
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
