openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PDP] Fulfillment API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PDP] Fulfillment'
  description: ''
paths:
  /api/degree/degreeplans/{degreeplan_pk}/fulfillments:
    get:
      operationId: List Fulfillments
      description: '(GET `/api/degree/degreeplans/{degreeplan_pk}/fulfillments`)


        List, retrieve, create, destroy, and update a Fulfillment.'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      readOnly: true
                    degree_plan:
                      type: integer
                      description: The degree plan with which this fulfillment is associated
                    full_code:
                      type: string
                      description: The dash-joined department and code of the course, e.g., `CIS-120`
                      maxLength: 16
                    course:
                      type: string
                      readOnly: true
                    semester:
                      type:
                      - string
                      - 'null'
                      description: '

                        The semester of the course (of the form YYYYx where x is A [for spring],

                        B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                        does not yet have a semester.

                        '
                      maxLength: 5
                    rules:
                      type: array
                      items:
                        type: integer
                    unselected_rules:
                      type: array
                      items:
                        type: integer
                      description: '

                        The rules this course fulfills that should be shown in the open-ended rule box

                        (as opposed to the expandable box). Blank if this course should not be included in

                        any open-ended rule boxes.

                        '
                    legal:
                      type: boolean
                      description: '

                        True if course associated with this fulfillment isn''t illegally double counted anywhere,

                        false otherwise.

                        '
                    overrides:
                      type: array
                      items:
                        type: string
                      readOnly: true
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: List fulfillments
      x-summary-source: derived
    post:
      operationId: Create Fulfillment
      description: '(POST `/api/degree/degreeplans/{degreeplan_pk}/fulfillments`)


        Create or update fulfillment.'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                degree_plan:
                  type: integer
                  description: The degree plan with which this fulfillment is associated
                full_code:
                  type: string
                  description: The dash-joined department and code of the course, e.g., `CIS-120`
                  maxLength: 16
                course:
                  type: string
                  readOnly: true
                semester:
                  type:
                  - string
                  - 'null'
                  description: '

                    The semester of the course (of the form YYYYx where x is A [for spring],

                    B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                    does not yet have a semester.

                    '
                  maxLength: 5
                rules:
                  type: array
                  items:
                    type: integer
                unselected_rules:
                  type: array
                  items:
                    type: integer
                  description: '

                    The rules this course fulfills that should be shown in the open-ended rule box

                    (as opposed to the expandable box). Blank if this course should not be included in

                    any open-ended rule boxes.

                    '
                legal:
                  type: boolean
                  description: '

                    True if course associated with this fulfillment isn''t illegally double counted anywhere,

                    false otherwise.

                    '
                overrides:
                  type: array
                  items:
                    type: string
                  readOnly: true
              required:
              - degree_plan
              - full_code
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  degree_plan:
                    type: integer
                    description: The degree plan with which this fulfillment is associated
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  course:
                    type: string
                    readOnly: true
                  semester:
                    type:
                    - string
                    - 'null'
                    description: '

                      The semester of the course (of the form YYYYx where x is A [for spring],

                      B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                      does not yet have a semester.

                      '
                    maxLength: 5
                  rules:
                    type: array
                    items:
                      type: integer
                  unselected_rules:
                    type: array
                    items:
                      type: integer
                    description: '

                      The rules this course fulfills that should be shown in the open-ended rule box

                      (as opposed to the expandable box). Blank if this course should not be included in

                      any open-ended rule boxes.

                      '
                  legal:
                    type: boolean
                    description: '

                      True if course associated with this fulfillment isn''t illegally double counted anywhere,

                      false otherwise.

                      '
                  overrides:
                    type: array
                    items:
                      type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: Create fulfillment
      x-summary-source: derived
  /api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}:
    get:
      operationId: Retrieve Fulfillment
      description: '(GET `/api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}`)


        List, retrieve, create, destroy, and update a Fulfillment.'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  degree_plan:
                    type: integer
                    description: The degree plan with which this fulfillment is associated
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  course:
                    type: string
                    readOnly: true
                  semester:
                    type:
                    - string
                    - 'null'
                    description: '

                      The semester of the course (of the form YYYYx where x is A [for spring],

                      B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                      does not yet have a semester.

                      '
                    maxLength: 5
                  rules:
                    type: array
                    items:
                      type: integer
                  unselected_rules:
                    type: array
                    items:
                      type: integer
                    description: '

                      The rules this course fulfills that should be shown in the open-ended rule box

                      (as opposed to the expandable box). Blank if this course should not be included in

                      any open-ended rule boxes.

                      '
                  legal:
                    type: boolean
                    description: '

                      True if course associated with this fulfillment isn''t illegally double counted anywhere,

                      false otherwise.

                      '
                  overrides:
                    type: array
                    items:
                      type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: Retrieve fulfillment
      x-summary-source: derived
    delete:
      operationId: Destroy Fulfillment
      description: '(DELETE `/api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}`)


        List, retrieve, create, destroy, and update a Fulfillment.'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: Destroy fulfillment
      x-summary-source: derived
  /api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}/override:
    post:
      operationId: Add Override Fulfillment
      description: '(POST `/api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}/override`)


        Add a manual override that allows a course to count for a rule regardless of whether

        it satisfies the rule''s Q filter. Also adds the rule to the fulfillment''s selected

        rules if not already present.


        POST with `{"rule_id": }`.'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                degree_plan:
                  type: integer
                  description: The degree plan with which this fulfillment is associated
                full_code:
                  type: string
                  description: The dash-joined department and code of the course, e.g., `CIS-120`
                  maxLength: 16
                course:
                  type: string
                  readOnly: true
                semester:
                  type:
                  - string
                  - 'null'
                  description: '

                    The semester of the course (of the form YYYYx where x is A [for spring],

                    B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                    does not yet have a semester.

                    '
                  maxLength: 5
                rules:
                  type: array
                  items:
                    type: integer
                unselected_rules:
                  type: array
                  items:
                    type: integer
                  description: '

                    The rules this course fulfills that should be shown in the open-ended rule box

                    (as opposed to the expandable box). Blank if this course should not be included in

                    any open-ended rule boxes.

                    '
                legal:
                  type: boolean
                  description: '

                    True if course associated with this fulfillment isn''t illegally double counted anywhere,

                    false otherwise.

                    '
                overrides:
                  type: array
                  items:
                    type: string
                  readOnly: true
              required:
              - degree_plan
              - full_code
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  degree_plan:
                    type: integer
                    description: The degree plan with which this fulfillment is associated
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  course:
                    type: string
                    readOnly: true
                  semester:
                    type:
                    - string
                    - 'null'
                    description: '

                      The semester of the course (of the form YYYYx where x is A [for spring],

                      B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                      does not yet have a semester.

                      '
                    maxLength: 5
                  rules:
                    type: array
                    items:
                      type: integer
                  unselected_rules:
                    type: array
                    items:
                      type: integer
                    description: '

                      The rules this course fulfills that should be shown in the open-ended rule box

                      (as opposed to the expandable box). Blank if this course should not be included in

                      any open-ended rule boxes.

                      '
                  legal:
                    type: boolean
                    description: '

                      True if course associated with this fulfillment isn''t illegally double counted anywhere,

                      false otherwise.

                      '
                  overrides:
                    type: array
                    items:
                      type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: Add override fulfillment
      x-summary-source: derived
  /api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}/switch-rule:
    post:
      operationId: Switch Rule Fulfillment
      description: '(POST `/api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}/switch-rule`)


        Switch a fulfillment''s selected rule to another rule in the same degree.


        This promotes the requested rule from `unselected_rules` to `rules`, and

        demotes any currently selected rules for that same degree into

        `unselected_rules`.


        If another course was already fulfilling the target rule, that course is'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: integer
                  readOnly: true
                degree_plan:
                  type: integer
                  description: The degree plan with which this fulfillment is associated
                full_code:
                  type: string
                  description: The dash-joined department and code of the course, e.g., `CIS-120`
                  maxLength: 16
                course:
                  type: string
                  readOnly: true
                semester:
                  type:
                  - string
                  - 'null'
                  description: '

                    The semester of the course (of the form YYYYx where x is A [for spring],

                    B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                    does not yet have a semester.

                    '
                  maxLength: 5
                rules:
                  type: array
                  items:
                    type: integer
                unselected_rules:
                  type: array
                  items:
                    type: integer
                  description: '

                    The rules this course fulfills that should be shown in the open-ended rule box

                    (as opposed to the expandable box). Blank if this course should not be included in

                    any open-ended rule boxes.

                    '
                legal:
                  type: boolean
                  description: '

                    True if course associated with this fulfillment isn''t illegally double counted anywhere,

                    false otherwise.

                    '
                overrides:
                  type: array
                  items:
                    type: string
                  readOnly: true
              required:
              - degree_plan
              - full_code
      responses:
        '201':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  degree_plan:
                    type: integer
                    description: The degree plan with which this fulfillment is associated
                  full_code:
                    type: string
                    description: The dash-joined department and code of the course, e.g., `CIS-120`
                    maxLength: 16
                  course:
                    type: string
                    readOnly: true
                  semester:
                    type:
                    - string
                    - 'null'
                    description: '

                      The semester of the course (of the form YYYYx where x is A [for spring],

                      B [summer], or C [fall]), e.g. `2019C` for fall 2019. Null if this fulfillment

                      does not yet have a semester.

                      '
                    maxLength: 5
                  rules:
                    type: array
                    items:
                      type: integer
                  unselected_rules:
                    type: array
                    items:
                      type: integer
                    description: '

                      The rules this course fulfills that should be shown in the open-ended rule box

                      (as opposed to the expandable box). Blank if this course should not be included in

                      any open-ended rule boxes.

                      '
                  legal:
                    type: boolean
                    description: '

                      True if course associated with this fulfillment isn''t illegally double counted anywhere,

                      false otherwise.

                      '
                  overrides:
                    type: array
                    items:
                      type: string
                    readOnly: true
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: Switch rule fulfillment
      x-summary-source: derived
  /api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}/override/{rule_id}:
    delete:
      operationId: Remove Override Fulfillment
      description: '(DELETE `/api/degree/degreeplans/{degreeplan_pk}/fulfillments/{full_code}/override/{rule_id}`)


        Remove a manual override, and remove the rule from the fulfillment''s selected

        and unselected rules.


        DELETE to `override//`.'
      parameters:
      - name: degreeplan_pk
        in: path
        required: true
        description: ''
        schema:
          type: string
      - name: full_code
        in: path
        required: true
        description: The dash-joined department and code of the course, e.g., `CIS-120`
        schema:
          type: string
      - name: rule_id
        in: path
        required: true
        description: ''
        schema:
          type: string
      responses:
        '204':
          description: ''
      tags:
      - '[PDP] Fulfillment'
      summary: Remove override fulfillment
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
