openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PCR] Autocomplete Dump API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PCR] Autocomplete Dump'
  description: ''
paths:
  /api/review/autocomplete:
    get:
      operationId: Retrieve Autocomplete Dump
      description: '(GET `/api/review/autocomplete`)


        Autocomplete entries for Courses, departments, instructors. All objects have title, description,

        and url. This route does not have any path parameters or query parameters, it just dumps

        all the information necessary for frontend-based autocomplete. It is also cached

        to improve performance.'
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  courses:
                    type: array
                    description: Data on courses for autocomplete.
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: The dash-joined department and code of the course, e.g. `CIS-120` for CIS-120.
                        desc:
                          type: string
                          description: The title of the course, e.g. 'Programming Languages and Techniques I' for CIS-120.
                        url:
                          type: url
                          description: The relative route through which this course's reviews can be accessed (a prefix of `/api/review/` is assumed).
                  departments:
                    type: array
                    description: Data on departments for autocomplete.
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: The string department code, e.g. `CIS` for the CIS department.
                        desc:
                          type: string
                          description: The name of the department, e.g. 'Computer and Information Sci' for the CIS department.
                        url:
                          type: url
                          description: The relative route through which this department's reviews can be accessed (a prefix of `/api/review/` is assumed).
                  instructors:
                    type: array
                    description: Data on instructors for autocomplete.
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                          description: The full name of the instructor.
                        desc:
                          type: string
                          description: A comma-separated string list of department codes to which this instructor belongs.
                        url:
                          type: url
                          description: The relative route through which this instructor's reviews can be accessed (a prefix of `/api/review/` is assumed).
          description: Autocomplete dump retrieved successfully.
      tags:
      - '[PCR] Autocomplete Dump'
      summary: Retrieve autocomplete dump
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
