openapi: 3.2.0
info:
  title: Penn Courses API Documentation [PDP] Degree API
  version: ''
  description: '# Introduction

    Penn Courses (GitHub) is the umbrella

    categorization for Penn Labs

    products designed to help students navigate the course registration process.'
  x-logo:
    url: https://i.imgur.com/tVsRNxJ.png
    altText: Labs Logo
  contact:
    email: contact@pennlabs.org
servers:
- url: https://penncoursereview.com
  description: Penn Course Review
- url: https://penncourseplan.com
  description: Penn Course Plan
tags:
- name: '[PDP] Degree'
  description: ''
paths:
  /api/degree/degrees:
    get:
      operationId: List Degrees
      description: '(GET `/api/degree/degrees`)


        Retrieve a list of all Degree objects.'
      parameters:
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      readOnly: true
                    program:
                      enum:
                      - EU_BSE
                      - EU_BAS
                      - AU_BA
                      - WU_BS
                      - NU_BSN
                      type: string
                      description: '

                        The program code for this degree, e.g., EU_BSE

                        '
                    degree:
                      type: string
                      description: '

                        The degree code for this degree, e.g., BSE

                        '
                      maxLength: 4
                    major:
                      type: string
                      description: '

                        The major code for this degree, e.g., BIOL

                        '
                      maxLength: 4
                    major_name:
                      type:
                      - string
                      - 'null'
                      description: '

                        The name of the major for this degree, e.g., Africana Studies

                        '
                      maxLength: 128
                    concentration:
                      type:
                      - string
                      - 'null'
                      description: '

                        The concentration code for this degree, e.g., BMAT

                        '
                      maxLength: 4
                    concentration_name:
                      type:
                      - string
                      - 'null'
                      description: '

                        The name of the concentration for this degree, e.g., African American Studies

                        '
                      maxLength: 128
                    year:
                      type: integer
                      maximum: 2147483647
                      minimum: -2147483648
                      description: '

                        The effective year of this degree, e.g., 2023

                        '
                    credits:
                      type:
                      - number
                      - 'null'
                      multipleOf: 0.01
                      maximum: 100
                      minimum: -100
                      description: '

                        The minimum number of CUs required for this degree.

                        '
                    rules:
                      type: array
                      items:
                        type: integer
                      description: '

                        The rules for this degree. Blank if this degree has no rules.

                        '
          description: ''
      tags:
      - '[PDP] Degree'
      summary: List degrees
      x-summary-source: derived
  /api/degree/degrees/{id}:
    get:
      operationId: Retrieve Degree
      description: '(GET `/api/degree/degrees/{id}`)


        Retrieve a list of all Degree objects.'
      parameters:
      - name: id
        in: path
        required: true
        description: A unique integer value identifying this degree.
        schema:
          type: string
      - name: search
        required: false
        in: query
        description: A search term.
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    readOnly: true
                  rules:
                    type: array
                    items: []
                    readOnly: true
                  double_count_restrictions:
                    type: array
                    items: []
                    readOnly: true
                  program:
                    enum:
                    - EU_BSE
                    - EU_BAS
                    - AU_BA
                    - WU_BS
                    - NU_BSN
                    type: string
                    description: '

                      The program code for this degree, e.g., EU_BSE

                      '
                  degree:
                    type: string
                    description: '

                      The degree code for this degree, e.g., BSE

                      '
                    maxLength: 4
                  major:
                    type: string
                    description: '

                      The major code for this degree, e.g., BIOL

                      '
                    maxLength: 4
                  major_name:
                    type:
                    - string
                    - 'null'
                    description: '

                      The name of the major for this degree, e.g., Africana Studies

                      '
                    maxLength: 128
                  concentration:
                    type:
                    - string
                    - 'null'
                    description: '

                      The concentration code for this degree, e.g., BMAT

                      '
                    maxLength: 4
                  concentration_name:
                    type:
                    - string
                    - 'null'
                    description: '

                      The name of the concentration for this degree, e.g., African American Studies

                      '
                    maxLength: 128
                  year:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    description: '

                      The effective year of this degree, e.g., 2023

                      '
                  credits:
                    type:
                    - number
                    - 'null'
                    multipleOf: 0.01
                    maximum: 100
                    minimum: -100
                    description: '

                      The minimum number of CUs required for this degree.

                      '
          description: ''
      tags:
      - '[PDP] Degree'
      summary: Retrieve degree
      x-summary-source: derived
x-tagGroups:
- name: Penn Course Plan
  tags:
  - '[PCP] Course Recommendations'
  - '[PCP] Schedule'
  - '[PCP] Primary Schedule'
  - '[PCP] Calendar'
  - '[PCP] Break'
- name: Penn Course Alert
  tags:
  - '[PCA] Registration History'
  - '[PCA] Registration'
- name: Penn Course Review
  tags:
  - '[PCR] Course Reviews'
  - '[PCR] Autocomplete Dump'
  - '[PCR] Department Reviews'
  - '[PCR] Section-Specific Reviews'
  - '[PCR] Plots'
  - '[PCR] Instructor Reviews'
- name: Penn Courses (Base)
  tags:
  - '[PCx] NGSS Restrictions'
  - '[PCx] Attributes'
  - '[PCx] Status Updates'
  - '[PCx] Healths'
  - '[PCx] Friendship'
  - '[PCx] Course'
  - '[PCx] Section'
  - '[PCx] Pre-NGSS Requirements'
- name: Penn Labs Accounts
  tags:
  - '[Accounts] User'
- name: Other
  tags:
  - '[PDP] Docked Course'
  - '[PDP] Degree'
  - '[PDP] Onboard From Transcript'
  - '[PDP] Fulfillment'
  - '[PDP] Degree Plan Lists'
  - '[PDP] Satisfied Rule Lists'
  - '[PDP] Degree Plan Detail'
